<section class="page-banner py-6">
  <div class="container text-center">
    <p class="text-info fs-5 mb-1 fw-bold">HAPPY LIFE</p>
    <h2 class="fw-bold text-dark-black fs-1">開始當個小懶蟲</h2>
  </div>
</section>
