<footer class="bg-light">
  <div class="container py-6">
    <h2 class="mb-5 text-center fw-bold text-dark-black">需要其他協助嗎？</h2>
    <div class="row row-cols-1 row-cols-lg-3 g-3">
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div
            class="card-body d-flex justify-content-center align-items-center py-4"
          >
            <i class="bi bi-telephone-fill me-2 fs-4 text-info"></i>
            <p class="mb-0 fs-4">07-555-666</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div
            class="card-body d-flex justify-content-center align-items-center py-4"
          >
            <i class="bi bi-facebook me-2 fs-4 text-info"></i>
            <p class="mb-0 fs-4">我就是個小懶蟲</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div
            class="card-body d-flex justify-content-center align-items-center py-4"
          >
            <i class="bi bi-question-lg me-2 fs-4 text-info"></i>
            <p class="mb-0 fs-4">常見問題</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary py-3 text-center">
    <small class="text-white">
      Copyright © 2021 小懶蟲.All rights reserved.
    </small>
  </div>
</footer>
