<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand text-dark-black fw-bold" href="#">
      <i class="bi bi-record-fill text-info me-1"></i>小懶蟲</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active me-5" aria-current="page" href="#">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5" href="#">服務介紹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5" href="#">方案費用</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5" href="#">常見問題</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" href="#">方案費用</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
